/* deletedirectiva.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .successMessage {
    color: green;
    margin-top: 10px;
  }
  
  .errorMessage {
    color: red;
    margin-top: 10px;
  }
  